window {
  background: #282a36;
}

#box {
  /* Define attributes of the box surrounding icons here */
  padding: 5px;
  transition: 0.3s ease-out;
}

#active {
  /* This is to underline the button representing the currently active window */
  background-color: #44475a;
  border-radius: 25px;
}

button,
image {
  background: none;
  border-style: none;
  box-shadow: none;
  color: rgba(225, 0, 0, 0.5);
}

button {
  padding: 8px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 12px;
  border-radius: 25px;
}
