@import "dracula.css";

/* General Styles */
* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  border-radius: 0;
}

/* Workspaces Styles */
#workspaces {
  background-color: @background;
  border-radius: 1rem;
  padding: 0.4rem;
  margin-left: 1rem;
  padding-right: 0.45rem;
}

#cpu:hover,
#pulseaudio:hover,
#battery:hover,
#backlight:hover {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: black;
  color: @purple;
  transition: all 0.2s;
}

#workspaces > *:hover {
  background-color: @background;
}

/* Custom OS Button Styles */
#custom-os_button {
  background-color: @background;
  border-radius: 1rem;
  min-width: 2rem;
  padding: 0.4rem 0.6rem;
  margin-left: 0.5rem;
  transition: all 0.2s;
  color: @purple;
}

/* Custom Power Button Styles */
#custom-power {
  background-color: @background;
  border-radius: 1rem;
  margin-right: 0.5rem;
  min-width: 2rem;
  transition: all 0.2s;
  color: @comment;
}

#custom-power:hover {
  color: @red;
}

/* Component Styles */
#tray,
#window,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-os_button,
#custom-power,
#workspaces,
#cpu {
  background-color: @background;
  padding: 0.7rem 1.2rem;
  border-radius: 1rem;
  margin-top: 3px;
  transition: all 0.2s;
}

#window {
  border-radius: 1rem;
  color: @comment;
  transition: all 0.2s;
}

#window:hover {
  color: @purple;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: black;
}

#custom-os_button:hover {
  color: @purple;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: black;
}

#cpu {
  color: @current-line;
  margin-right: 1rem;
  border-radius: 0 1rem 1rem 0;
}

#clock {
  color: @pink;
  margin-right: 1rem;
}

#clock:hover {
  color: @purple;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: black;
  transition: all 0.2s;
}

#custom-power:hover {
  color: @purple;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: black;
}

#battery {
  color: @orange;
  border-radius: 0;
}

#battery:hover {
  color: @purple;
  background-color: black;
  transition: all 0.2s;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
  border-radius: 0;
}

#backlight:hover {
  color: @purple;
  background-color: black;
  transition: all 0.2s;
}

#pulseaudio {
  color: @purple;
  border-radius: 1rem 0 0 1rem;
  margin-left: 1rem;
}

#pulseaudio:hover {
  color: @purple;
  background-color: black;
  padding-left: 2rem;
  transition: all 0.2s;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

/* Adjustments for Consistency */
#custom-power,
#custom-os_button {
  padding-left: 1rem;
  padding-right: 1.2rem;
  transition: all 0.2s;
}

#cpu,
#pulseaudio,
#battery,
#backlight,
#clock {
  transition: all 0.2s;
}
