#lock {
  background-image: url("/home/awan/.config/wlogout/icons/lock.svg");
}

#logout {
  background-image: url("/home/awan/.config/wlogout/icons/logout.svg");
}

#suspend {
  background-image: url("/home/awan/.config/wlogout/icons/suspend.svg");
}

#hibernate {
  background-image: url("/home/awan/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
  background-image: url("/home/awan/.config/wlogout/icons/shutdown.svg");
}

#reboot {
  background-image: url("/home/awan/.config/wlogout/icons/reboot.svg");
}

* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(30, 30, 46, 0.9);
  border: solid #89dceb 10px;
  border-radius: 25px;
}

button {
  text-decoration-color: #cdd6f4;
  color: #cdd6f4;
  background-color: #181825;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  border: none;
}

button:focus,
button:active,
button:hover {
  /* 20% Overlay 2, 80% mantle */
  background-color: rgb(48, 50, 66);
  outline-style: none;
}
