@use "themes/nothingOS" as c;

* {
  font-family: "JetBrainsMono Nerd Font", "Cantarell", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: c.$fg-color;
  box-shadow: none;
  outline: none;
}

@mixin reset {
  padding: 0;
  margin: 0;
  border: none;
}

@mixin standard {
  @include reset;
  border-radius: 0;
  transition: all 150ms cubic-bezier(0.25, 1, 0.5, 1);
}

@mixin glassy {
  background: rgba(255, 255, 255, 0.15);
}

@mixin lowest-surface {
  @include standard;
  background-color: c.$surface0;
}

@mixin middle-surface {
  @include standard;
  background-color: c.$surface1;
}

@mixin highest-surface {
  @include standard;
  background-color: c.$surface2;
}

@mixin dim-small-button {
  min-width: 40px;
  min-height: 40px;
}

@mixin dim-mid-button {
  min-width: 3em;
  min-height: 3em;
}

@mixin dim-long-button {
  min-width: 80px;
  min-height: 40px;
}

@mixin dim-large-button {
  min-width: 80px;
  min-height: 80px;
}

@mixin standard-button($bg-color: c.$surface1, $hover-color: c.$bg-color) {
  @include middle-surface;
  color: c.$fg-color;
  background-color: $bg-color;

  &:hover {
    background-color: $hover-color;
  }
}

.hide {
  opacity: 0;
}

.transparent {
  background-color: transparent;
}

.surface-0 {
  @include lowest-surface;
}

.surface-1 {
  @include middle-surface;
}

.button-small {
  @include standard-button;
  @include dim-small-button;
}

.button-long {
  @include standard-button;
  @include dim-long-button;
}

.button-large {
  @include standard-button;
  @include dim-large-button;
}

.button-special {
  @include standard-button($bg-color: c.$accent-alt);
  @include dim-small-button;
}

.button-toggled {
  @include standard-button;
  @include dim-large-button;
  background-color: c.$accent-color;
}

.button-dock {
  @include standard-button;
  margin: 5px;

  &:hover {
    border: 5px solid c.$accent-alt;
  }
}

.surface-glassy {
  @include standard;
  @include glassy;
}

button.button-power {
  @include standard;
  @include lowest-surface;

  &:hover {
    border: 1em solid c.$accent-color;
  }
}

menubutton>button {
  @include reset;
  background-color: transparent;
}

.window-launcher {
  @include lowest-surface;
}

.window-launcher entry {
  @include highest-surface;
  padding: 1em;
}

.window-launcher button {
  @include middle-surface;
  padding: 0.5em;

  &:hover {
    border-left: c.$accent-color solid 10px;
    border-right: c.$accent-color solid 10px;
  }
}

// the notch is not an actual part of the topbar, it just overlaps it.
.notch {
  min-height: 40px;
  @include middle-surface;
}

// class to "hide" the dockraiser since it cant be fully transparent
.dbg {
  background-color: #4B0000; // this red is hard to percieve for the human eye
  opacity: 0.001;
}

.transparent {
  background-color: transparent;
}

@mixin notch-default {
  @include lowest-surface;
  min-height: 40px;
}

.notch-idle {
  @include notch-default;
}

.notch-active {
  @include notch-default;
  padding: 1em;
}

.cover {
  background-position: center;
  background-size: cover;
  min-width: 6em;
  min-height: 6em;
}
